<div class="col-sm-12 col-md-6 col-lg-8 h-75">
    <div class="card shadow-lg" style="background-color: var(--bs-gray-200)">
    <video src="https://share.bsharex.xyz/<%= key %>" class="card-img-top" style="max-height: 35rem" controls alt="..."></video>
        <div class="card-body">
            <p class="card-text text-light"><%= data.originalname %></p>
        </div>
    </div>
</div>
